body {
    background-color: black;
}


h1 {
    color: white;
    font-family: 'Public Sans', sans-serif;
}

h2 {
    color: white;
    font-family: 'Public Sans', sans-serif;
}


p {
    color: white;
    font-family: 'Public Sans', sans-serif;
}

.page-1 {
    display: block;
}

/* Heading First Page */
.heading {
    width: 60vw;
    display: inline-block;
}

.header {
    font-weight: 900;
    font-size: 7vw;
    margin: 0px;
    padding-left: 1.8vw;
    letter-spacing: -0.3rem;
}

.header-top {
    padding-top: 4vh;
}

.header-bottom {
    padding-bottom: 1.2rem;
}


/* Image first page */

.img-1 {
    width: 55vw;
    height: 33vw;
    margin-left: 2.6vw;
}


/* Paragraph first page */
.p-a {
    float: right;
    width: 35vw;
    height: 37.8vw;
    align-items: center;
}

.p-1 {
    font-weight: 400;
    font-size: 1.43rem;
    align-items: center;
    margin: auto;
    letter-spacing: 0.02rem;
}

.p-1-top {
    font-size: 1.43rem;
    font-weight: 600;
    width: 20rem;
    margin-top: 15vw;
    margin-left: 3vw;
}

.p-1-bottom {
    width: 20vw;
    margin-top: 6vw;
    margin-left: 3vw;
}

/* horizontal rule pg-1,pg-2 */
hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    margin-top: 5rem;
    height: 5px;
    width: 85vw;
}


/* Page-2 */
.header-1 {
    margin: 4vw 0 0 6vw;
    font-size: 6vw;
    font-weight: 800;
}

.p-2 {
    color: white;
    width: 40vw;
    margin-left: 8vw;
    font-size: 1.6rem;
    letter-spacing: 0.13rem;
    /* display: inline-block; */
}

.page-2 {
    display: inline-block;
}

.img-2 {
    width: 33vw;
    margin-left: 7vw;
    /* float:right; */
    /* position: relative; */
}




/* page-3 */
.page-3 {
    /* float: right; */
    padding-top: 6vw;
    margin-bottom: 7vw;
    padding-bottom: 2.2vw;
}

.img-3 {
    width: 30vw;
    display: inline-block;
    margin: 0 3vw 0 10vw;
}

.page-3-div {
    float: right;

}

.header-2 {
    font-size: 5.6vw;
    width: 50vw;
    margin-top: 2vw;
    /* float: right; */
}

.p-3 {
    /* float: right; */
    width: 35vw;
    font-size: 1.6rem;
    letter-spacing: 0.13rem;
}

.p-3-div {
    /* float: right; */
    display: block;
    margin-left: 7vw;
}

.img-4 {
    width: 30vw;
    margin: 4vw 0 0 15vw;

}

/* page-5------------------------- */

.page-4 {
    text-align: left;
}

.img-5 {
    width: 90vw;
    margin: 5vw 0 0 3vw;
}

.header-3 {
    text-align: left;
    margin: 2vw 0 0 3.7vw;
    font-size: 4.7vw;
}

/* Contact------------ */

.contact-links {
    margin-top: 9.3vw;
    text-align: left;
    margin-left: 3vw;
    display: inline-block;
}

.contact-img {
    width: 35px;
    display: inline-block;
}

.insta {
    width: 17v0px;
    margin-bottom: 3px;
}

.contact-link-name {
    float: right;
    margin-top: 10px;
}

.insta-name {
    margin-bottom: 10px;
}

.tiktok {
    width: 170px;
}

.email-div {
    float: right;
    margin-top: 9vw;
}

.contact {
    width: 60vw;
    height: 20vw;
    display: inline-block;
}

.email {
    line-height: 2vw;
}

.together {
    float: right;
    margin-top: 12vw;
    text-decoration: underline;
    margin-right: 5vw;
}



@media screen and (max-width: 900px) {

    /* Page-1----------------------------------- */
    .page-1 {
        display: block;
    }

    /* Heading First Page */
    .heading {
        width: 85vw;
    }

    .header {
        font-family: 'Public Sans', sans-serif;
        font-weight: 800;
        font-size: 12.7vw;
        margin: 0px;
        padding-left: 7vw;
        text-align: left;
        /* letter-spacing: 0rem; */
    }

    .header-top {
        padding-top: 1rem;
    }

    .header-bottom {
        padding-bottom: 2rem;
    }



    .img-1 {
        width: 80vw !important;
        height: 47vw !important;
        margin-left: 9vw !important;
    }



    .p-a {
        text-align: left;
        display: inline;
        float: none;
    }

    .p-1-top {
        text-align: left;
        width: 25rem;
        font-size: 1.7rem;
        margin-top: 9vh;
        margin-left: 9vw !important;
    }

    .p-1-bottom {
        width: 20rem !important;
        margin-top: 3vh;
        margin-left: 9vw !important;
        font-size: 1.3rem;
        letter-spacing: 0.13rem;
    }


    /* Page-2-------------------------------------- */
    .page-2 {
        display: block;
        /* text-align: center; */
        align-items: center;
    }

    .header-1 {
        /* margin: 4vw 0 0 6vw; */
        margin: 9vw 0 5vw 9vw;
        font-size: 10vw;
        font-weight: 800;

    }

    .p-2 {
        color: white;
        width: 80vw !important;
        margin-left: 10.5vw !important;
        font-size: 1.3rem;
        letter-spacing: 0.13rem;
        text-align: left;
    }

    .img-2 {
        width: 70vw !important;
        margin-left: 12vw !important;
        margin-top: 3vw;
        margin-bottom: 3vw !important;
    }



    /* page-3--------------------------------------------- */
    .page-3 {
        padding-top: 8vw;
    }


    .page-3-div {
        float: none;
        margin-left: 11.5vw;
    }

    .header-2 {
        font-size: 10vw;
        width: 80vw;
        margin-top: 2vw;
        margin-bottom: 0px;
    }

    .p-3 {
        /* float: right; */
        width: 70vw !important;
        font-size: 1.3rem !important;
        letter-spacing: 0.1rem;
    }

    .p-3-div {
        display: block;
        margin-left: 0vw;
    }

    .img-3 {
        width: 50vw;
        display: inline-block;
        margin: 0 3vw 0 10vw;
    }

    .img-4 {
        width: 50vw;
        margin: 2vw 0 0 33vw;
    }


    .img-5 {
        width: 90vw;
        margin: 5vw 0 0 2vw;
    }

    .header-3 {
        text-align: left;
        margin: 2vw 0 9vw 4vw;
        font-size: 12vw;
    }

    /* Contact------------ */

    .contact-links {
        margin-top: 9vw;
        margin-left: 3vw;
        display: inline-block;
    }

    .contact-img {
        width: 4vw;
        /* display: inline-block; */
        margin-top: 0.1vw;
    }

    .insta {
        width: 4vw;
        display: inline-block;
    }

    .contact-link-name {
        display: none;
    }

    .tiktok {
        width: 3vw;
        float: right;
    }

    .email-div {
        float: none;
        margin: 2vw 0 0;
    }

    .contact {
        width: 100vw;
        height: 10vw;
        display: inline-block;
        text-align: center;
    }

    .email {
        line-height: 1vw;
        /* float: none; */
    }

    .together {
        float: none;
        margin: 10vw 0 0 9vw;
        text-decoration: underline;
        margin-right: 5vw;
    }

    .final-contact {
        text-align: center;
    }
}


@media screen and (max-width:1095px) {

    .p-3 {
        /* float: right; */
        width: 35vw;
        font-size: 1.22rem !important;
        /* letter-spacing: 0.13rem; */
    }
}

@media screen and (max-width:1215px) {

    /* .heading {
        width: 56vw;
        display: inline-block;
    } */
    .img-1 {
        width: 52vw;
        height: 31vw;
        margin-left: 2.6vw;
    }

    .p-1-top {
        font-size: 1.43rem;
        font-weight: 600;
        width: 20rem;
        margin-top: 15vw;
        margin-left: 1vw;
    }

    .p-1-bottom {
        width: 30vw;
        margin-top: 6vw;
        margin-left: 1vw;
    }

    .p-3 {
        /* float: right; */
        width: 35vw;
        font-size: 1.4rem;
        /* letter-spacing: 0.13rem; */
    }
}

@media screen and (max-width:1300px) {

    .img-2 {
        width: 33vw;
        margin-left: 7vw;
        /* position: relative; */
        margin-bottom: 15vw;
    }

}

@media screen and (max-width:1200px) {

    .img-2 {
        width: 33vw;
        margin-left: 7vw;
        /* position: relative; */
        margin-bottom: 20vw;
    }

}



/*  */
@media screen and (max-width:950px) {
    .img-2 {
        width: 33vw;
        margin-left: 7vw;
        /* position: relative; */
        margin-bottom: 25vw;
    }

    .p-2 {
        color: white;
        width: 40vw;
        margin-left: 6vw;
        font-size: 1.3rem;
        letter-spacing: 0.13rem;
    }
}



/*  */
@media screen and (max-width:996px) {
    .img-2 {
        width: 33vw;
        margin-left: 7vw;
        /* position: relative; */
        margin-bottom: 17vw;
    }

    .p-2 {
        color: white;
        width: 40vw;
        margin-left: 6vw;
        font-size: 1.3rem;
        letter-spacing: 0.13rem;
    }
}